body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #28a745;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  h1 {
    color: #fff;
    margin: 0;
  }
  
  h3 {
    font-size: 20px;
    color: #28a745;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .port-bc,
  .mat-bc {
    border: 2px solid #28a745;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .port-bc h2,
  .mat-bc h2 {
    color: #28a745;
  }
  
  .port-bc p,
  .mat-bc p {
    color: #555;
  }
  
  .current-week {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-top: 40px;
    text-align: center;
  }
  
  .current-week h3 {
    color: #28a745;
    margin-bottom: 10px;
  }
  
  .current-week p {
    color: #555;
  }
  
  .student-info {
    display: flex;
    align-items: center;
  }
  
  .student-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .student-name {
    color: #fff;
    margin: 0;
  }
  
  main {
    padding: 20px;
  }
  
  .container {
    margin-top: 20px;
  }
  
  .course-block {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .course-block h2 {
    color: #28a745;
  }
  
  .course-block p {
    color: #555;
  }
  
  .btn-primary {
    background-color: #28a745;
    color: #fff;
    border-color: #28a745;
  }
  
  footer {
    background-color: #343a40;
    padding: 10px;
  }
  
  .btn-danger {
    background-color: #dc3545;
    color: #fff;
    border-color: #dc3545;
  }
  
  @media (max-width: 767px) {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .course-block {
      margin-bottom: 20px;
    }
  }
  