/* Estilos gerais */

img {
  border-radius: 60%;
  clip-path: circle(30%);
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

/* Estilos do cabeça */
header {
  background-color: #30aa12;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  margin: 0;
  font-size: 24px;
}

.logo-image {
  max-width: 150px;
}

/* Estilos do conteúdo principal */
main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  margin-bottom: 20px;
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(25, 204, 85, 0.1);
  text-align: center;
}

h2 {
  color: #333;
}

p {
  color: #666;
  line-height: 1.5;
}

/* Estilos do formulário */
.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.input-text {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.password-input-container {
  position: relative;
}

.password-input-container .show-password-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.button-custom {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;
}

.button-custom:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

/* Estilos do rodapé */
footer {
  background-color: #000000;
  color: #fff;
  padding: 10px;
  text-align: center;
}
